@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* light theme */

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --veryy-dark-grayish-blue: hsl(235, 19%, 35%);

  /*dark theme*/

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#root, .app_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace;
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(234, 11%, 51%);
}

img {
  width:100%;
  max-width:100%;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 375px) {
  .header_content {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--very-light-gray);
  }

  .btn_icon_toggle {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .form {
    background-color: hsl(237, 14%, 26%);
    display: flex;
    height: 3.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.125rem;
  }

  .todo_input {
    color: var(--light-grayish-blue);
    width: 100%; 
    border-radius: 0.5rem;
  }

  .todo_input:focus {
    outline: none;
  }

  .submitBtn {  
    border-color: var(--very-light-gray);
    border-radius: 50%;  
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.7rem;
  }

  .submitBtn:focus {
    outline: none;
  }

  .task {
    list-style: none;
    background-color: hsl(237, 14%, 26%);
    height: 3.5rem;
    padding: 1rem;
    color: var(--light-grayish-blue); 
    border-bottom: 1px solid var(--dark-grayish-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task:first-child {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .task_checkbox {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin-right: 1rem;
  }

  .task_checkbox:checked {
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

  .completed {
    color: hsl(236, 9%, 61%); 
    text-decoration: line-through;
  }

  .task_deleteBtn {
    background-color: transparent;
    border: none; 
    color: hsl(236, 9%, 61%); 
    font-size: 1.125rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer; 
  }

  .todo_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .95rem 1rem;
    background-color: hsl(237, 14%, 26%);
    height: 3.5rem;
  }

  .todo_btns:last-child {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  .filter_btns_list, .filter_btns_show {
    display: flex;
    gap:1rem;
  }

  .filter_btn {
    list-style: none;
    background-color: transparent;
    color: var(--dark-grayish-blue);
    border: none;
    cursor: pointer;
    font-weight: 700;
  }

  .filter_btns_show {
    justify-content: center;
    align-items: center;
    padding: .95rem 1rem;
    background-color: hsl(237, 14%, 26%);
    height: 3.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }

  .one {
    color: rgb(82, 177, 177);
  }

  .clear_all_btn {
    border: none; 
    background-color: transparent;
    color:hsl(236, 9%, 61%); 
    font-weight: 700;
  }
}

/*toggle mode*/

.dark_mode {
  background-image: url(/src/assets/bg-desktop-dark.jpg) ;
  background-color: hsl(235, 21%, 11%);
  background-repeat: no-repeat;
  background-size: auto;
}

.dark_mode .todo_input {
  background-color: hsl(237, 14%, 26%);
  color: hsl(0, 0%, 98%);
  border: none;
}

.dark_mode .submitBtn {
  background-color: hsl(237, 14%, 26%);
}

.light_mode {
  background-image: url(/src/assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: var(--very-light-gray);
  color: hsl(236, 9%, 61%);
}

.light_mode .form {
  background-color: var(--very-light-gray);
}

.light_mode .todo_input {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  border: none;
}

.light_mode .task {
  background-color: var(--very-light-gray);
  border: 1px solid var(--light-grayish-blue);
  color: var(--dark-grayish-blue);
}

.light_mode .todo_btns {
  background-color: var(--very-light-gray);
  border: 1px solid var(--light-grayish-blue);
}

.light_mode .filter_btns_show {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  border: 1px solid var(--light-grayish-blue);
}

@media (min-width: 600px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 60ch;
  }

  .filter_btns_show {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 60ch;
  }

  .dark_mode {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .light_mode {
    background-repeat: no-repeat;
    background-size: contain;
  }  
}

@media (max-width: 600px) {
  .filter_btns_list {
    display: none;
  }
}